/*================ ACESSO RAPIDO ================*/
#acesso-rapido {
    width: 980px;
    background: #fff;
    display: block;
    margin: auto;
    margin-top: -140px;
    padding: 35px 35px 35px 35px;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    box-shadow: 0 0 5px 2px rgb(65 64 66 / 30%);
}

#acesso-rapido h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: -10px;
}

#acesso-rapido p {
    text-align: center;
    margin-top: -15px;
}

.area-acesso {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.area-acesso a {
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    color: #414042;
    border-bottom: 0.5px solid #414042;
}

.area-acesso a:hover {
    background-color: rgba(129, 129, 129, 0.6);
    border-radius: 10px;
}

.botao-acesso {
    width: 130px;
    height: 115px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    display: inline-block;
}

.botao-acesso img {
    margin-bottom: 15px;
}