/*================ BARRA TOPO ================*/
.barra-pesquisa {
    background-color: #013471;
}

.area-pesquisa {
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao-pesquisa img {
    width: 25px;
    margin: 5px;
    margin-left: 50px;
    padding-top: 8px;
}
 
.botao-brasao img {
    width: 70px;
    margin: 5px;
}
 
.botao-redes img {
    width: 25px;
    padding: 5px;
    margin: 5px;
}

