/*================ TOPO SERVIDOR ================*/
.navtopo {
    background: #EB3235;
}

.topo-servidor {
    width: auto;
    height: 35px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo-servidor li a {
    font-size: 10px;
    text-transform: uppercase;
    list-style: none;
    display: block;
    color: #fff;
    margin: 8px 10px;
    padding: 8px 15px;
}

.topo-servidor li a:hover {
    text-decoration: underline;
    background-color: #b61f22;
    padding: 8px 15px;
    color: #fff;
    border-bottom: #fff;
    border-radius: 5px;
}